*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.navbar{
    display: flex;
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    

}

.navbar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-title{
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.navbar-element{
    display: flex;
    padding: 10px;
}

.navbar-element ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-element li{
    position:relative;
}

.navbar-element a{
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.active,
.nav-link:hover
{
    background-color: black;
    color: white;
    transition: 0.1s ease-in-out;
    border-radius: 3px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search{
   margin-top: 120px;
}

.city-aqi-container{

    height: 30px;
}

.aqi-result{
    margin: 10px;
    padding: 10px;
    line-height: 10%;
    font-size: 1.2rem;
    font-weight: 400;
}

.map-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.map{
    width: 95vw;
    height: 78vh;
    border: 5px black solid;
    margin-top: 15px;
 }


.footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

.text{
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

